@page "/nordea"

<PageTitle>Nordea Counter</PageTitle>

<h1>Nordea Counter</h1>

<p role="status"> </p>

<button class="btn btn-primary" @onclick="ShowResult">Result</button>

@code {

    public void ShowResult()
    {
        
    }
}
