@page "/"

<PageTitle>Index</PageTitle>
<body style="background-color: #2D2D30;"> 
    <h1 style="color: white">Hello and Welcome</h1>
<h2 style="color: white">Please use right panel to check the solutions</h2>

<p style="color: white">  On this page you will find solutions for interview at Nordea Bank</p>

</body>


