@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello and Welcome</h1>
<h2>Please use right panel to check the solutions</h2>

<p>  On this page you will find solutions for interview at Nordea Bank</p>

